:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #232323;
    --bs-white: #fff;
    --bs-gray: #86b8b6;
    --bs-gray-dark: #387462;
    --bs-gray-100: #f9fdfc;
    --bs-gray-200: #f1f8f6;
    --bs-gray-300: #d9efe7;
    --bs-gray-400: #c6e6de;
    --bs-gray-500: #abd5c6;
    --bs-gray-600: #86b8b6;
    --bs-gray-700: #409088;
    --bs-gray-800: #387462;
    --bs-gray-900: #1b4e3f;
    --bs-primary: #00ffbd;
    --bs-secondary: #409088;
    --bs-success: #42ba96;
    --bs-info: #b45be1;
    --bs-warning: #d83aeb;
    --bs-danger: #43b5c5;
    --bs-light: #f9fdfc;
    --bs-dark: #1b4e3f;
    --bs-primary-rgb: 0,255,189;
    --bs-secondary-rgb: 64,144,136;
    --bs-success-rgb: 66,186,150;
    --bs-info-rgb: 180,91,225;
    --bs-warning-rgb: 216,58,235;
    --bs-danger-rgb: 67,181,197;
    --bs-light-rgb: 249,253,252;
    --bs-dark-rgb: 27,78,63;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 35,35,35;
    --bs-body-color-rgb: 35,35,35;
    --bs-body-bg-rgb: 0,0,0;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #232323;
    --bs-body-bg: #000;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #d9efe7;
    --bs-border-color-translucent: rgba(35,35,35,.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #00ffbd;
    --bs-link-hover-color: #00cc97;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #FFF8CD;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    color: #fff;
    font-size: 1.3125rem;
    line-height: 130%;
    margin: 0;
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(35,35,35,0);
    scroll-behavior: smooth;
}
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #232323;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(35,35,35,.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb),.5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:hover{
    background: #fff;
    color: #000;
}

/* tickets link */
.iqpEry{
    position: relative;
    z-index: 2;
    font-size: 0.8em;
    padding: 0.3rem 0.5rem;
    background: linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%);
    text-align: center;
    text-transform: uppercase;
}
.link-unstyled{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.bx{
    padding: 0.3rem 0.5rem;

}

.link-unstyled:hover{
    color: #fff;
}

/* navbar */

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar .navbar-nav {
    font-size: 1.1rem;
    transition: all .2s ease-in-out;
    transition-property: background-color,color;
    z-index: 1030;
}
dl, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    font-size: 17.6px;
    padding-left: 2rem;
}
ul {
    list-style-type: disc;
}
menu, ul {
    list-style: none;
    padding: 0;
}
blockquote, dl, h1, h2, h3, h4, h5, h6, hr, menu, p, pre, ul {
    margin: 0;
}
.position-sticky {
    position: sticky!important;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}
.navbar-dark{
    background: rgba(0,0,0,.95);
}
.navbar{
    padding: 1.25rem 0;
    z-index: 2;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;    
}
.container, .container-fluid, .container-xl{
    --bs-gutter-x: 40px;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-right: auto;
    margin-left: auto;
}
.d-flex {
    display: flex!important;
}
a {
    color: var(--bs-link-color);
    text-decoration: none;
}
embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

svg {
    display: inline-block;
}
img, svg {
    vertical-align: middle;
}

img, video {
    height: auto;
    max-width: 100%;
}

.navbar .navbar-toggler {
    margin: -6px;
    cursor: pointer;
    border: 0;
    padding: 10px;
    height: 40px;
    width: 40px;
    background: transparent;
}
.navbar .navbar-toggler .bar {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff !important;
    transition: .15s cubic-bezier(.75,-.55,.25,1.55);
    cursor: pointer;
}
.navbar .navbar-toggler .bar+.bar {
    margin-top: 4px;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.ms-auto {
    margin-left: auto!important;
}
.navbar .navbar-nav .nav-item:not(:last-child):not(.show) {
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.dropdown {
    position: relative;
}

.navbar .navbar-nav .dropdown>.dropdown-toggle {
    background: none;
    border: 0;
}
.navbar .navbar-nav .nav-link--primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem 0;
}
.navbar .navbar-nav .nav-link {
    color: #848895;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navbar .navbar-nav .nav-link:hover{
    color: #fff;
}
.navbar .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 1rem;
    background: radial-gradient(farthest-corner at bottom right,rgba(58,35,63,.6),transparent 250px),linear-gradient(180deg,#000 70%,#181222);
    height: calc(100vh - 68px)!important;
    overflow-y: scroll;
}
.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #232323;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(35,35,35,.15);
    --bs-dropdown-link-color: #1b4e3f;
    --bs-dropdown-link-hover-color: #184639;
    --bs-dropdown-link-hover-bg: #f1f8f6;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #00ffbd;
    --bs-dropdown-link-disabled-color: #abd5c6;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #86b8b6;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.dropdown-toggle {
    display: flex;
    white-space: nowrap;
}
.navbar .navbar-nav .dropdown-menu {
    background: #111214;
    padding: 25px;
    border: 1px solid hsla(0,0%,100%,.1);
    border-radius: 12px;
    color: #848895;
}
.navbar-nav .dropdown-menu {
    position: static;
}
.dropdown-menu.show {
    display: block;
}


/* main 1 */

.IndexHero_index-hero__gLYxm {
    overflow: hidden;
    margin-top: -70px;
}
.pb-10 {
    padding-bottom: 5rem!important;
}
.IndexHero_index-hero__container__ncK9m {
    position: relative;
    padding-top: 190px;
    padding-bottom: 120px;
}
.text-center {
    text-align: center!important;
}
.IndexHero_index-hero__ring--small__6JXVZ {
    position: absolute;
    z-index: -1;
    top: -500px;
    left: -900px;
    width: 1200px;
    height: 1200px;
}
element.style {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: transparent;
}
.IndexHero_index-hero__ring--small__6JXVZ img {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top;
    object-position: top;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.IndexHero_index-hero__ring--large__BYBAU {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -1300px;
    width: 1600px;
    height: 830px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h2, h2 {
    font-size: clamp(2.625rem,8vw,4.5rem);
    letter-spacing: -.0425rem;
}
.h5, h5 {
    font-size: 1.75rem;
    line-height: 118%;
}
.h6, h6 {
    font-size: 1.5rem;
    line-height: 117%;
}
.h6, h6 {
    font-size: 1rem;
}
.mb-4 {
    margin-bottom: 1rem!important;
}
.h2, .h3, h2, h3 {
    font-weight: 700;
    line-height: 105%;
}
.h4, .h5, h4, h5 {
    font-weight: 700;
}
.h4, h4 {
    font-size: 2.625rem;
    line-height: 110%;
    letter-spacing: -1px;
}

.d-block {
    display: block!important;
}
.row {
    --bs-gutter-x: 40px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-.5*var(--bs-gutter-x));
    margin-left: calc(-.5*var(--bs-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-top: var(--bs-gutter-y);
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.my-6 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}

.dmbPWc.btn {
    font-family: DSemi, monospace;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 0.95rem;
    width: fit-content;
    background-color: rgb(20, 241, 149);
    border-radius: 2.25rem;
    padding: 0.875rem 1.5rem;
    color: black;
    border: 1px solid black;
}
.btDeDy.btn {
    background: linear-gradient(101.81deg, rgb(240, 135, 255) -4.52%, rgb(110, 31, 206) 54.5%, rgba(110, 31, 206, 0.2) 101.41%);
    color: rgb(255, 255, 255);
}
.me-2 {
    margin-right: .5rem!important;
}
.mt-2 {
    margin-top: .5rem!important;
}
.d-inline-block {
    display: inline-block!important;
}

.lift {
    transition: box-shadow .25s ease,transform .25s ease;
}


.kFeCne.btn {
    font-family: DSemi, monospace;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 0.95rem;
    width: fit-content;
    background-color: black;
    border-radius: 2.25rem;
    padding: 0.875rem 1.5rem;
    color: white;
    border: 1px solid white;
}

/* indexlogo */

.IndexLogos_index-logos__1Q2DS {
    position: relative;
    z-index: 1;
}
.text-center {
    text-align: center!important;
}
.mt-n10 {
    margin-top: -5rem!important;
}
.mb-6 {
    margin-bottom: 2rem!important;
}
.IndexLogos_index-logos__heading__M_v15 {
    font-size: 1rem!important;
    letter-spacing: .05em!important;
    color: #618adc;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.fw-normal {
    font-weight: 400!important;
}
.mb-2 {
    margin-bottom: .5rem!important;
}
.IndexLogos_index-logos__scroller__bmmft {
    max-width: 700px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.IndexLogos_index-logos__scroller-item__KnZVi {
    position: relative;
    aspect-ratio: 16/9;
    margin: 0 10px;
    height: 40px;
}

/* index news */

.mb-8 {
    margin-bottom: 3rem!important;
}
.IndexNews_index-news__slider__KEK_Q {
    background: #1b1622;
    border-radius: 1rem;
    padding: 2.5rem;
    margin: 0 -20px;
}
.slick-list, .slick-slider {
    position: relative;
    display: block;
}
.IndexNews_index-news__AipJY .slick-prev {
    left: -2.75rem;
}
.IndexNews_index-news__AipJY .slick-next, .IndexNews_index-news__AipJY .slick-prev {
    stroke: #eee;
    stroke-width: 1;
    width: 50px;
    height: 50px;
    opacity: .25;
}
.slick-prev {
    left: -25px;
}


.slick-next, .slick-next:focus, .slick-next:hover, .slick-prev, .slick-prev:focus, .slick-prev:hover {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translateZ(0);
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list, .slick-slider {
    position: relative;
    display: block;
}

.IndexNews_index-news__AipJY .slick-next {
    right: -2.75rem;
}
.slick-next {
    right: -25px;
}

.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

element.style {
    width: 9720px;
    opacity: 1;
    transform: translate3d(-2160px, 0px, 0px);
}

.IndexNews_index-news__AipJY .slick-track {
    display: flex;
    align-items: center;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translateZ(0);
}
.slick-track:after, .slick-track:before {
    display: table;
    content: "";
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.IndexNews_index-news__slider__card__f2PJ8 {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
    line-height: 1.4;
}
.IndexNews_index-news__slider__card__img__ENphm {
    display: none;
}

.IndexNews_index-news__slider__card__img__ENphm img {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
}
.slick-slide img {
    display: block;
}
.IndexNews_index-news__slider__card__body__OgEP_ {
    text-align: center;
}
.IndexNews_index-news__slider__card__body__OgEP_ span {
    display: inline-block;
    color: #111;
    border-radius: 15px;
    padding: 3px 10px;
    font-size: .9rem;
    background-image: linear-gradient(90deg,#14f195,#80ecff 40.1%,#64a8f2 82.29%,#64a8f2);
}
.smaller {
    font-size: 1rem;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.fw-normal {
    font-weight: 400!important;
}
.align-middle {
    vertical-align: middle!important;
}
.mx-1 {
    margin-right: .25rem!important;
    margin-left: .25rem!important;
}
.mt-3 {
    margin-top: .75rem!important;
}
.h5, h5 {
    font-size: 1.25rem;
}
.small {
    font-size: 1.1rem;
}
.mb-5 {
    margin-bottom: 1.5rem!important;
}
.small, small {
    font-size: .875em;
}
.kPXaEl.btn {
    font-family: DSemi, monospace;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 0.95rem;
    width: fit-content;
    background-color: transparent;
    border-radius: 1.5rem;
    padding: 0.625rem 1.3125rem;
    color: white;
    border: 1px solid white;
}
.lift {
    transition: box-shadow .25s ease,transform .25s ease;
}
.slick-track:after {
    clear: both;
}
.slick-track:after, .slick-track:before {
    display: table;
    content: "";
}
.IndexNews_index-news__AipJY .slick-dots {
    bottom: -5rem;
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li, .slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li, .slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.IndexNews_index-news__AipJY .slick-dots li button:before {
    color: #eee;
}
.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* community */
.IndexStats_index-stats__iS8zg {
    position: relative;
    overflow: hidden;
    padding: 125px 0;
}
.IndexStats_index-stats__glow-lines__DOhtU {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
element.style {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
}
.IndexStats_index-stats__glow-lines__DOhtU img {
    -o-object-fit: cover;
    object-fit: cover;
}
.pb-10 {
    padding-bottom: 5rem!important;
}
.mt-0 {
    margin-top: 0!important;
}
.IndexStats_index-stats__color--purple__V5Pfs {
    background: linear-gradient(101.11deg,#f087ff 14.47%,#6e1fce 39.43%,rgba(110,31,206,.1) 76.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.IndexStats_index-stats__color__gZGCK {
    font-weight: 300;
    font-size: 70px;
    line-height: 120%;
}
.m-0 {
    margin: 0!important;
}
.IndexStats_index-stats__ff-mono__2IrIe {
    font-family: DSemi,monospace;
}
.subdued {
    color: #c4c4c4;
}
.smaller {
    font-size: 1rem;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.IndexStats_index-stats__color--blue__34ufI {
    background: linear-gradient(100.93deg,#1fcff1 15.61%,#234cb6 41.38%,rgba(35,76,182,.1) 79.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.IndexStats_index-stats__color--green__7cpB7 {
    background: linear-gradient(97.65deg,#19fb9b 11.36%,#199890 54.3%,#005f59 100.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.pt-9 {
    padding-top: 4rem!important;
}
.mt-9 {
    margin-top: 4rem!important;
}
.IndexStats_index-stats__live__Q3h4O {
    position: relative;
    line-height: 1!important;
    padding-left: 10px;
}
.IndexStats_index-stats__live__Q3h4O:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #1fcff1;
}
.IndexStats_index-stats__card__29r6F {
    background: rgba(0,0,0,.4);
    border: 1px solid #19161c;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 24px;
}
.p-6 {
    padding: 2rem!important;
}
.IndexStats_index-stats__card__title__3HNFv {
    border-left: 2px solid;
    padding-left: 15px;
}
.small {
    font-size: 1.1rem;
}
.IndexStats_index-stats__iS8zg:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 125px;
    background: linear-gradient(#000,transparent 80%);
}

/* community 2 */

.overflow-hidden {
    overflow: hidden!important;
}
.position-relative {
    position: relative!important;
}
.IndexCaseStudies_case-studies__light__FxRC3 {
    position: absolute;
    opacity: .7;
    z-index: -1;
    width: 45rem;
    height: 50rem;
    right: -100px;
    margin-top: -25px;
    background: radial-gradient(50% 50% at 50% 50%,#a962ff 0,transparent 100%);
}
.mb-6 {
    margin-bottom: 2rem!important;
}
.justify-content-between {
    justify-content: space-between!important;
}
.flex-column {
    flex-direction: column!important;
}
.d-flex {
    display: flex!important;
}
.mb-0 {
    margin-bottom: 0!important;
}
.faWBGs.btn {
    font-family: DSemi, monospace;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.25rem;
    font-size: 0.95rem;
    width: fit-content;
    background-color: black;
    border-radius: 1.5rem;
    padding: 0.625rem 1.3125rem;
    color: white;
    border: 1px solid white;
}
.IndexCaseStudies_case-studies__main__vj90x {
    background-color: #26262b;
    border-radius: 12px;
    color: #fff;
}
.h-100 {
    height: 100%!important;
}
.w-100 {
    width: 100%!important;
}
.IndexCaseStudies_case-studies__main__vj90x img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.IndexCaseStudies_case-studies__main__vj90x h3 {
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 35px 30px;
}
.IndexCaseStudies_case-studies__card___x6RX {
    display: flex;
    flex-direction: column;
    background-color: #26262b;
    border-radius: 12px;
    margin-bottom: 18px;
}
.IndexCaseStudies_case-studies__card___x6RX img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.IndexCaseStudies_case-studies__card___x6RX *, .IndexCaseStudies_case-studies__card___x6RX:hover * {
    color: #fff;
}
.IndexCaseStudies_case-studies__card--content__wcnz9 {
    height: 100%;
    padding: 16px 18px;
    border-radius: 0 0 12px 12px;
}
.IndexCaseStudies_case-studies__card___x6RX h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.align-self-start {
    align-self: flex-start!important;
}
.btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 0.25rem;
}
.btn-link {
    --bs-btn-font-weight: 400;
    --bs-btn-color: var(--bs-link-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-link-hover-color);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-link-hover-color);
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: #86b8b6;
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-shadow-rgb: 5,222,166;
    text-decoration: none;
}

/* index-use growth*/
.IndexUseCases_index-usecases__Xwgo6 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 125px 0;
}
.IndexUseCases_index-usecases__gradient__lq9jJ {
    position: absolute;
    opacity: .7;
    z-index: -1;
    width: 50rem;
    height: 40rem;
    left: -10rem;
    top: 50%;
    margin-top: -20rem;
    background: radial-gradient(50% 50% at 50% 50%,#a962ff 0,transparent 100%);
}
.IndexUseCases_index-usecases__nav__rnTUy {
    list-style: none;
    padding: 0;
    margin: 0;
}
.IndexUseCases_index-usecases__nav__rnTUy li:not(:last-child) {
    margin-right: 1rem;
}
.IndexUseCases_index-usecases__nav__rnTUy li {
    display: inline-block;
}
.IndexUseCases_index-usecases__nav-item--active__NUWgO {
    border-color: #a962ff;
}
.IndexUseCases_index-usecases__nav-item__flEJi {
    padding: .6rem .8rem;
    font-size: 1rem;
    background: #111;
    border: 1px solid #111;
    color: #fff;
    border-radius: 15px;
}
.IndexUseCases_index-usecases__tab-content__PbOjy {
    background-color: #1a1a1a;
    border-radius: 12px;
}
.IndexUseCases_index-usecases__tab-content__img-cover__owv2w {
    position: relative;
    height: 100%;
    min-height: 400px;
    overflow: hidden;
    display: flex;
}
.IndexUseCases_index-usecases__tab-content__img-cover__owv2w img {
    -o-object-fit: cover;
    object-fit: cover;
}
.p-8 {
    padding: 3rem!important;
}
.mb-5 {
    margin-bottom: 1.5rem!important;
}
.IndexUseCases_index-usecases__tab-content__img-logo__6P8dD {
    position: relative;
    height: 50px;
    width: 200px;
}
.IndexUseCases_index-usecases__tab-content__img-logo__6P8dD img {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: left;
    object-position: left;
}
address, p {
    margin-bottom: 1rem;
}
p {
    margin-top: 0;
}
.IndexUseCases_index-usecases__tab-content__link__ZXkFd {
    color: #a962ff;
    text-decoration: underline;
    text-underline-position: under;
}
.IndexUseCases_index-usecases__tab-content__logos__sOYEO {
    margin-top: 20px;
    background: rgba(38,31,38,.3);
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    border-radius: 16px;
}
.gvRJNM {
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
}
.py-2 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
}
.gvRJNM .carousel-cards {
    overflow: auto !important;
}

.flex-nowrap {
    flex-wrap: nowrap!important;
}
.flex-row {
    flex-direction: row!important;
}
.gvRJNM .carousel-cards > div {
    column-gap: 1.5rem;
    margin-right: 0px;
    margin-left: 0px;
}
.gvRJNM .carousel-cards > div > div {
    max-width: 15rem;
    min-width: 15rem;
}
.IndexUseCases_index-usecases__tab-content__logo__2FQZH {
    padding: 1rem 1.5rem;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.IndexUseCases_index-usecases__tab-content__logo__2FQZH img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 30px;
}
.gvRJNM .overlay-left {
    background: linear-gradient(to left, transparent, rgb(0, 0, 0) 80%);
    border: none;
    left: -20px;
}
.gvRJNM .overlay-left, .gvRJNM .overlay-right {
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    transition: opacity 0.3s ease 0s;
    display: none !important;
}.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}
.gvRJNM[data-overflowing="both"] .overlay-right, .gvRJNM[data-overflowing="right"] .overlay-right {
    display: flex !important;
}
.gvRJNM .overlay-right {
    background: linear-gradient(to right, transparent, rgb(0, 0, 0) 80%);
    border: none;
    right: -20px;
}
.gvRJNM .overlay-left, .gvRJNM .overlay-right {
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    transition: opacity 0.3s ease 0s;
    display: none !important;
}
.IndexJoinCommunity_index-community__NLB5O {
    position: relative;
}
.IndexJoinCommunity_index-community__glow-lines__1TE9S {
    position: absolute;
    width: 100%;
    height: 1200px;
    z-index: -1;
}
.IndexJoinCommunity_index-community__glow-lines__1TE9S img {
    -o-object-fit: cover;
    object-fit: cover;
}
.IndexJoinCommunity_index-community__slider__TZuUe {
    animation: IndexJoinCommunity_scroll__xOghL 40s linear infinite;
}
.IndexJoinCommunity_index-community__grid__aeokT {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,200px);
    grid-gap: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.IndexJoinCommunity_index-community__grid__aeokT>* {
    position: relative;
    overflow: hidden;
    background-color: #19161c;
    border-radius: 8px;
    width: 300px;
    transform: translateZ(0);
}
.IndexJoinCommunity_index-community__grid__small__5cFZn {
    font-size: .8rem;
    line-height: 1.2;
    color: #bababa;
}
.IndexJoinCommunity_index-community__grid__item-b__Rwc6R {
    grid-column: 1;
    grid-row: 2;
}
.IndexJoinCommunity_index-community__grid__aeokT>* {
    position: relative;
    overflow: hidden;
    background-color: #19161c;
    border-radius: 8px;
    width: 300px;
    transform: translateZ(0);
}
.IndexJoinCommunity_index-community__grid__item-cover__BBprN {
    background: rgba(0,0,0,.6);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s ease;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    line-height: 1.1;
}
.IndexJoinCommunity_index-community__grid__item-cover__BBprN p {
    margin: 0;
}
.small, small {
    font-size: .875em;
}
.IndexJoinCommunity_index-community__grid__aeokT img {
    -o-object-fit: cover;
    object-fit: cover;
}
.IndexJoinCommunity_index-community__grid__item-c__9EYCa {
    grid-column: 2;
    grid-row: 1/3;
    width: 300px;
}
.IndexJoinCommunity_index-community__grid__aeokT>* {
    position: relative;
    overflow: hidden;
    background-color: #19161c;
    border-radius: 8px;
    width: 300px;
    transform: translateZ(0);
}
.smaller {
    font-size: 1rem;
}
.IndexJoinCommunity_index-community__grid__item-f__libN6 {
    grid-column: 4;
    grid-row: 1/3;
}
.IndexJoinCommunity_index-community__grid__item-g__maY1E {
    grid-column: 5;
    grid-row: 1;
}.IndexJoinCommunity_index-community__grid__item-h__6I4ET {
    grid-column: 5;
    grid-row: 2;
}
.IndexJoinCommunity_index-community__grid__item-i__b5jLa {
    grid-column: 6;
    grid-row: 1/3;
    width: 300px;
}
.IndexJoinCommunity_index-community__grid__item-j__ytJAX {
    grid-column: 7;
    grid-row: 1;
}
.IndexJoinCommunity_index-community__grid__item-k__eCLBA {
    grid-column: 7;
    grid-row: 2;
}
.IndexJoinCommunity_index-community__grid__item-l__f_6KD {
    grid-column: 8;
    grid-row: 1/3;
}
.IndexJoinCommunity_index-community__grid__item-b__Rwc6R {
    grid-column: 1;
    grid-row: 2;
}
.py-9 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important;
}
.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.btDeDy.btn {
    background: linear-gradient(101.81deg, rgb(240, 135, 255) -4.52%, rgb(110, 31, 206) 54.5%, rgba(110, 31, 206, 0.2) 101.41%);
    color: rgb(255, 255, 255);
}

/* footer */
.Footer_solFooter__MwcqK {
    font-size: 1rem;
    margin-top: 5rem;
    padding: 5rem 0;
    background-color: #000508;
    color: #fff;
    background-image: radial-gradient(farthest-corner at bottom right,#3a233f,transparent 250px);
    border: 1px solid #141414;
    border-radius: 12px 12px 0 0;
}
.Footer_solFooter__foundation__0cy_T {
    font-family: DSemi;
    margin-bottom: 0;
    line-height: 1;
}
.Footer_solFooter__foundation-logo__UeAh9, .Footer_solFooter__social__8pnZl {
    margin-bottom: 20px;
}
.Footer_solFooter__MwcqK a, .Footer_solFooter__MwcqK button {
    color: #848895;
}
.Footer_solFooter__social__8pnZl a:not(:last-child) {
    margin-right: 10px;
}
.Footer_solFooter__social__8pnZl a {
    background: #848895;
    display: inline-flex;
    padding: 5px;
    border-radius: 50%;
}
.Footer_solFooter__social__8pnZl a svg {
    fill: #111;
}
.Footer_solFooter__copyright__F3Jk3 {
    color: #848895;
}
.my-6 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
}
.col {
    flex: 1 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.Footer_solFooter__MwcqK ul a {
    padding: 6px 0;
    display: inline-block;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.p-0 {
    padding: 0!important;
}
.border-0 {
    border: 0!important;
}















@media(min-width: 576px){
    .container{
        max-width: 540px;
    }
    .IndexNews_index-news__slider__KEK_Q {
        margin: 0;
    }
    .IndexNews_index-news__AipJY .slick-prev {
        left: -6rem;
    }
    .IndexNews_index-news__AipJY .slick-next {
        right: -6rem;
    }
}

@media(min-width: 600px){
    .IndexLogos_index-logos__scroller-item__KnZVi {
        height: 50px;
        margin: 0 15px;
    }
}

@media(min-width: 768px){
    .container {
        max-width: 720px;
    }
    .IndexHero_index-hero__ring--small__6JXVZ {
        top: -150px;
        left: -850px;
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .py-md-4 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
    .px-md-6 {
        padding-right: 2rem!important;
        padding-left: 2rem!important;
    }
    .mt-md-4 {
        margin-top: 1rem!important;
    }
    .IndexHero_index-hero__ring--large__BYBAU {
        right: -1200px;
    }
    .IndexStats_index-stats__color__gZGCK {
        font-size: 110px;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .IndexStats_index-stats__card__29r6F {
        border: 0;
        background: rgba(0,0,0,.28);
    }
    .IndexCaseStudies_case-studies__light__FxRC3 {
        width: 50rem;
        margin-top: -15px;
    }
    .IndexCaseStudies_case-studies__main__vj90x img {
        height: 250px;
    }
    .IndexCaseStudies_case-studies__card___x6RX img {
        height: 250px;
    }
    .mt-md-0 {
        margin-top: 0!important;
    }
    .w-md-50 {
        width: 50%!important;
    }
    .flex-md-row {
        flex-direction: row!important;
    }
    .IndexJoinCommunity_index-community__grid__item-c__9EYCa {
        width: 600px;
    }
    .IndexJoinCommunity_index-community__grid__item-i__b5jLa {
        width: 600px;
    }
    .w-md-75 {
        width: 75%!important;
    }
    .Footer_solFooter__MwcqK {
        background-image: radial-gradient(farthest-side at bottom left,#271d3b,transparent 900px),radial-gradient(farthest-corner at bottom right,#3a233f,transparent 1000px);
    }
    .justify-content-md-between {
        justify-content: space-between!important;
    }
    .d-md-flex {
        display: flex!important;
    }
    .align-items-md-start {
        align-items: flex-start!important;
    }
    .my-md-0 {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    .flex-md-nowrap {
        flex-wrap: nowrap!important;
    }
}


@media (min-width: 992px){
    .navbar-expand-lg{
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar .navbar-collapse {
        background: transparent;
        position: static;
        padding: 0;
        height: auto!important;
        overflow: visible;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar .navbar-nav .nav-item {
        border: 0!important;
    }
    .navbar .navbar-nav .nav-link--primary {
        padding: 0;
        width: auto;
        margin: 0 0 0 2rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .navbar .navbar-nav .nav-link--primary:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: -5px;
        left: 0;
    }
    .container {
        max-width: 960px;
    }
    .IndexNews_index-news__slider__card__img__ENphm {
        display: block;
        position: relative;
        width: 465px;
        height: 250px;
    }
    .IndexNews_index-news__slider__card__body__OgEP_ {
        width: 50%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .mb-lg-0 {
        margin-bottom: 0!important;
    }
    .mt-lg-10 {
        margin-top: 5rem!important;
    }
    .d-lg-block {
        display: block!important;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
    .mt-lg-n10 {
        margin-top: -5rem!important;
    }
    .mt-lg-n8 {
        margin-top: -3rem!important;
    }
    .IndexCaseStudies_case-studies__light__FxRC3 {
        height: 32rem;
    }
    .align-items-lg-center {
        align-items: center!important;
    }
    .flex-lg-row {
        flex-direction: row!important;
    }
    .mt-lg-0 {
        margin-top: 0!important;
    }
    .w-lg-50 {
        width: 50%!important;
    }
    .IndexCaseStudies_case-studies__main__vj90x img {
        height: auto;
        border-radius: 12px 0 0 12px;
    }
    .IndexCaseStudies_case-studies__main__vj90x h3 {
        font-size: 2.288rem;
        line-height: 2.697rem;
        padding: 55px 50px;
    }
    .h-lg-100 {
        height: 100%!important;
    }
    .IndexCaseStudies_case-studies__card___x6RX img {
        height: auto;
    }
    .align-items-lg-center {
        align-items: center!important;
    }
    .d-lg-none {
        display: none!important;
    }
    .IndexUseCases_index-usecases__tab-content__logos__sOYEO div>div {
        min-width: auto!important;
        max-width: none!important;
    }
    .gvRJNM .carousel-cards > div {
        column-gap: 1.5rem;
        margin-right: 0px;
        margin-left: 0px;
    }
    .d-lg-flex {
        display: flex!important;
    }
    .pe-lg-8 {
        padding-right: 3rem!important;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar .navbar-nav .dropdown-menu {
        top: 100%;
        font-size: 1rem;
        background: rgba(0,0,0,.9);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        box-shadow: 0 10px 10px rgba(0,0,0,.5);
        display: block!important;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
        left: 50%;
        transform: translate3d(-50%,0,0);
    }
    .navbar .navbar-nav .dropdown.show>.dropdown-menu {
        top: calc(100% + 1rem);
        visibility: visible;
        opacity: 1;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar .navbar-nav .nav-item:last-child .dropdown-menu {
        right: 0;
        left: auto;
        transform: none;
    }

    
}


@media (min-width: 1200px){
    .container, .container-xl {
        max-width: 1140px;
    }
    .h2, h2 {
        font-size: 4.25rem;
    }
    .IndexLogos_index-logos__scroller__bmmft {
        max-width: none;
    }
}

@media (min-width: 1400px) {
    .container, .container-xl {
        max-width: 1141px;
    }
    
}

@media (min-width: 1441px) {
    .container, .container-xl {
        max-width: 1200px!important;
    }

}
@media (min-width: 1441px) {
    .navbar .navbar-nav .nav-item:last-child .dropdown-menu {
        right: 0;
        left: auto;
        transform: none;
    }
}
